* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(41, 0, 90);
}

.container {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-row {
  display: flex;
  gap: 10px;
}


.form-group {
  margin-bottom: 20px;
  height: 70px;
  flex: 2;
}

.field-large {
  flex: 3;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select[id="sexo"] {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-limpar {
  margin-top: 5px;
  background-color: #ff1a1a !important;
}

input[type="submit"]:hover {
  background-color: rgb(78, 78, 250);
}

.btn-limpar:hover {
  background-color: #f86464 !important;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: #4CAF50;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.erro {
  color: #ff1a1a;
  font-size: 14px;
}

.home {
  background-color: #a951fc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home:hover {
  background-color: #a1139a;
}